
.flex-center3{display: flex; justify-content: center; align-items: center; 
    font-size: 12px;
    font-family: Noto-R;
    box-sizing: border-box;
    position: relative;
    padding-bottom: 100px;
    width: 100%;
    min-width: 1300px;
    background: #f8f8f8;
    box-shadow: 2px 5px 4px 1px rgba(0, 0, 0, 0.03) inset;} 

/*contents*/
.myP_left {
    float: left;
    width: 220px;
}
.my_gnb {
    margin-top: 250px;
}
.my_gnb .depth1 {
    position: relative;
    width: 100%;
}
.my_gnb .depth1 > a {
    position: relative;
    display: block;
    padding: 17px 0;
    width: 100%;
    color: #1a1a1a; 
    font-size: 18px;
    font-family: Noto-M;
	 text-decoration: none;
}
.my_gnb .depth1 > i {
    position: absolute;
    right: 0;
    top: 25px;
    display: block;
    width: 14px;
    height: 9px;
    background: url(//image5.compuzone.co.kr/img/images/bsk/arrow_downB.png) center no-repeat;
    background-size: contain;
    cursor: pointer;
}
.my_gnb .depth2 {
    display: none;
    padding: 5px 20px 5px;
}

.my_gnb .depth2 > ul > li {
    margin-bottom: 8px;
}
.my_gnb .depth2 > ul > li > a {
	 text-decoration: none;
    color: #949494;
    font-size: 16px;
}

.my_gnb .depth1:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #d8d8d8;
}

/*마이페이지*/

.hidden {
	display: none;
}

.myP_left li {
    position: relative;
    display: block;
    width: 100%;
    color: #1a1a1a;
    font-size: 18px;
    font-family: Noto-M;
}
#main-menu {
    margin-left: 10px;
}


.myP_left li {
    position: relative;
    display: block;
    width: 100%;
    color: #1a1a1a;
    font-size: 18px;
    font-family: Noto-M;
}

section div div ul li ul li a {
    text-decoration-line: none;
    color: #949494;
    font-size: 16px;
}
.social_Nprofile_profileWrap {
    position: relative;
    margin-top: 40px;
    padding: 30px 0 0;
    width: 220px;
    height: 150px;
    text-align: center;
}

.SpqBlue2 {
    margin-top: 10px;
    box-sizing: border-box;
    color: #1c8fed !important;
    font-family: 'spoqa M';
    margin-bottom: 5px;
    font-size: 32px;
    font-weight: normal;
}

.myP_SWbtn {
    text-decoration-line: none;
    position: relative;
    display: inline-block;
    padding: 0 10px;
    height: 26px;
    line-height: 24px;
    background: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    color: #1a1a1a !important;
    font-size: 12px;
    text-align: center;
    outline: none;
    cursor: pointer;
}

#contents.myP_contents{width:100% !important;}
#contents.myP_contents i, #contents.myP_contents em{font-style:normal;}
.clearfix:after{content:""; display:block; clear:both;}
.myP_contents *{font-family:Noto-R; box-sizing:border-box;}
.myP_contents a:hover{text-decoration:none;}



.myP_MWbtn{position:relative; display:inline-block; padding:0 18px; height:40px; line-height:38px; background:#fff; border:1px solid #e1e1e1; border-radius:2px; color:#1a1a1a !important; font-size:16px; text-align:center; outline:none; cursor:pointer;}
.myP_MWbbtn{position:relative; display:inline-block; padding:0 18px; height:40px; line-height:38px; background:#f2f2f2; border:1px solid #e1e1e1; border-radius:2px; color:#1a1a1a !important; font-size:16px; text-align:center; outline:none; cursor:pointer;}
.myP_SWbtn{position:relative; display:inline-block; padding:0 10px; height:26px; line-height:24px; background:#fff; border:1px solid #e1e1e1; border-radius:2px; color:#1a1a1a !important; font-size:12px; text-align:center; outline:none; cursor:pointer; }

.save_B15btn{display:inline-block; padding:0 24px; height:40px; line-height:38px; background:#1a1a1a; border:1px solid #1a1a1a; border-radius:2px; color:#fff !important; font-size:14px; text-align:center; outline:none; cursor:pointer;}
.reset_W15btn{display:inline-block; padding:0 6px 0 4px; height:40px; line-height:38px; background:#fff; border:1px solid #d8d8d8; border-radius:2px; color:#1a1a1a !important; font-size:14px; text-align:center; outline:none; cursor:pointer;}
.reset_W15btn > i{display:inline-block;  vertical-align:-6px;}



/*** input,search,select***/
.inputWrap{display:inline-block; width:150px; height:40px; border:1px solid #e1e1e1; border-radius:2px; box-sizing:Border-box; vertical-align:middle; cursor:pointer;}
.inputWrap input{display:block; padding:0 15px; width:100%; height:100%; line-height:38px; color:#1a1a1a; font-size:16px; text-align:center; outline:none; border:none; box-sizing: border-box;}
.inputWrap:hover , .bskS_input:focus{border:1px solid #1a1a1a;}
.inputWrap input:placeholder{color:#949494;}
.inputWrap input:-ms-input-placeholder{color:#949494; opacity:1;}
.inputWrap input:-moz-input-placeholder{color:#949494;}
.inputWrap input:-webkit-input-placeholder{color:#949494;}
.inputWrap.calender input{padding:0 34px 0 19px; color:#949494; background: url("/resources/img/calender.png") 94% 50% no-repeat; cursor:pointer;}
.myP_select{position:relative; display:inline-block; width:300px; height:40px; background:#fff; vertical-align:top; cursor:pointer;}
.myP_select select{padding:0 40px 0 10px; width:100%; height:100%; line-height:40px; font-size:14px; color:#1a1a1a; border:1px solid #d8d8d8; border-radius:2px; letter-spacing:-0.5px; background:url("/resources/img/arrow_downG.png") 93% center no-repeat; outline:none; -webkit-appearance:none; -moz-appearance:none; appearance:none;  font-family:noto-R;} /*  for chrome,firefox */
.myP_select:hover  select, .myP_select:focus select{border:1px solid #1a1a1a; background:url("/resources/img/arrow_downB.png") 93% center no-repeat;}
select::-ms-expand { display:none; } /*  for IE10,11 */

.myP_search{padding:22px 15px; background:#fff; border:1px solid #e8e8e8;}
.myP_search .left_area{float:left;} 
.myP_search .left_area .top , .myP_search .left_area .bottom , .myP_search .left_area .top div.year{font-size:0;}
.myP_search .left_area .top > div {display:inline-block; vertical-align:top; }
.myP_search .left_area .myP_MWbtn{padding:0; width:78px; color:#949494 !important;}
.myP_search .left_area .myP_MWbbtn{padding:0; width:78px; color:#707070 !important;}
.myP_search .save_B15btn , .myP_search .reset_W15btn{padding:0; width:78px; margin-left:20px;}
.myP_search .left_area .myP_MWbtn + .myP_MWbtn{margin-left:10px;}
.myP_search .left_area .top .input_area{position:relative; display:inline-block; margin-left:30px; color:#949494; font-size:16px; vertical-align:top; }
.myP_search .left_area .select_year + .input_area{margin-left:0;}
.myP_search .select_year + .input_area .calender:before{display:none;}
.myP_search .left_area .input_area em{vertical-align:-5px;}
.myP_search .calender:before , .myP_search .year:before{content:""; position:absolute; left:-15px; top:7px; width:1px; height:25px; background:#e8e8e8;}
.myP_search .left_area .bottom{margin-top:20px;}
.myP_search .inputWrap.search2{width:380px;}
.myP_select.select2{margin-right:10px; width:200px;}
.myP_select.select_year{margin-right:10px; width:97px;}
.myP_search .inputWrap.search input , .myP_search .inputWrap.search2 input{padding:0 20px 0 44px; background: url("//image5.compuzone.co.kr/img/images/mypage21/magnifier.png") 3% center no-repeat; text-align:left;}
.myP_search .right_area{float:right; }
.myP_search .right_area > a{display:block;}
.myP_search .right_area .reset_W15btn{margin-top:20px;}

.orderState_list , .wishList_folder{position:relative; width:1000px; height:160px; background:#e8e8e8; border-radius:80px; }
.orderState_list ul{padding-top:24px; font-size:0; text-align:center;}
.orderState_list:before{content:""; position:absolute; left:75px; top:66px; display:block; width:835px; height:1px; background:#fff;}
.orderState_list li{position:relative; display:inline-block; margin-left:78px; text-align:center;}
.orderState_list li:first-child , .orderState_list.os_list2 li:first-child , .consultPoint_list li:first-child{margin-left:0;}
.orderState_list a{display:block; width:100%; height:100%;}
.orderState_list .wCircle , .orderStep_list .wCircle , .wishList_folder .wCircle , .new_folder , .consultPoint_list .wCircle{position:relative; width:84px; height:84px; background:#fff; border-radius:50%; border:1px solid #f9f9f9; box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.16); }
.orderState_list .wCircle > span , .consultPoint_list .wCircle .img{display:inline-block; margin-top:17px; text-align:center;}
.orderState_list .state_num{color:#1a1a1a; font-size:32px; font-family:'spoqa M';}
.orderState_list li.on .state_num{color:#1c8fed;}
.order_state .os_list4 .step1 .img{width:48px; height:48px; background:url("//image5.compuzone.co.kr/img/images/mypage21/order_grayS9.png") center no-repeat;}
.order_state .os_list4 .step2 .img{width:48px; height:48px; background:url("//image5.compuzone.co.kr/img/images/mypage21/order_grayS4.png") center no-repeat;}
.order_state .os_list4 .step3 .img{width:48px; height:48px; background:url("//image5.compuzone.co.kr/img/images/mypage21/order_grayS8.png") center no-repeat;}
.order_state .os_list4 .step4 .img{width:48px; height:48px; background:url("//image5.compuzone.co.kr/img/images/mypage21/order_grayS5.png") center no-repeat;}
.order_state .os_list4 .step5 .img{margin-left:4px; width:48px; height:48px; background:url("//image5.compuzone.co.kr/img/images/mypage21/order_grayS10.png") center no-repeat;}
.order_state .os_list4 .step6 .img{width:48px; height:48px; background:url("//image5.compuzone.co.kr/img/images/mypage21/order_grayS6.png") center no-repeat;}

.orderState_list .wCircle .num{position:absolute; right:-15px; top:0; display:block; width:32px; height:32px; line-height:32px; background:#3a3a3a; border-radius:50%; color:#fff; font-size:14px; font-family:Noto-M; font-style:normal;}
.orderState_list li.on .wCircle .num{background:#1c8fed;}
.orderState_list .step_t , .consultPoint_list .point_txt{margin-top:6px; color:#3a3a3a; font-size:16px;}


.myP_top{position:relative; padding:22px 0;}
.myP_inner{width:1300px; margin:0 auto;}

.myPage21{position:relative; padding-bottom:100px; width:100%; min-width:1300px; background:#f8f8f8; box-shadow: 2px 5px 4px 1px rgba(0, 0, 0, 0.03) inset;}
.myP_left{float:left; width:220px;}




.switch-ui{position:relative;  display:inline-block; margin-right:10px; width:48px; height:24px; vertical-align: middle;}
.switch-ui.animate .switch-ui-inner {
transition-timing-function: ease-in-out; -webkit-transition-timing-function: ease-in-out; -moz-transition-timing-function: ease-in-out;}


.myP_left .cs_box{margin-top:20px; padding:20px 0 20px 29px; width:220px; background:#fff; border-radius:10px 0 10px 0; box-shadow:1px 2px 2px 0 rgba(0, 0, 0, 0.16)}
.cs_box > h2{font-size:16px; font-weight:normal;}
.cs_box > h3{margin-bottom:5px; font-size:32px; font-weight:normal;}
.cs_box > p{color:#707070; font-size:16px; font-family:'spoqa M';}



.myP_right{float:left; margin:40px 0 0 80px; width:1000px;}
.mt20{margin-top:20px !important;}

.mt45{margin-top:45px !important;}

.myP_right .title_wrap{margin-bottom:18px;}
.myP_right h2.tit_txt{float:left; color:#1a1a1a; font-size:20px; font-family:Noto-M; font-weight:normal; letter-spacing:-0.5px;}

.listTable21{padding:30px; background:#fff; box-shadow:1px 2px 2px 0 rgba(0, 0, 0, 0.16); border-radius:2px;}
.myP_Ttype1 th {position:relative; padding:12px 0; background:#f9f9f9; border-top:1px solid #e8e8e8; border-bottom:1px solid #e8e8e8; color:#1a1a1a; font-size:16px; line-height:1.4; font-family:Noto-B; font-weight:normal; text-align:center;}
.myP_Ttype1 td {padding:22px 0; border-bottom:1px solid #e8e8e8; background:#fff; color:#1a1a1a; font-size:16px; text-align:center; word-break:break-all;}




.myPage21 .no_list , .refund_accont .no_list{padding:65px 0 40px; text-align:center;}
.myPage21 .no_list span  , .refund_accont .no_list span{display:block; }
.myPage21 .no_list td{padding:65px 0 40px;}
.myPage21 .no_list .txt  , .refund_accont .no_list .txt{margin-top:15px; color:#b4b4b4; font-size:16px; }
.myPage21 .no_list .myP_MBbtn{margin-top:30px;}

.as_list_wrap .asCPL_notice {
    background-color: #e8e8e8;
    padding: 30px;
}


.asCPL_notice {
    margin-top: 20px; 
}

.as_list_wrap .asCPL_notice > .ntRB16 {
    width: 148px;
}

.asCPL_notice > span {
    display: inline-block;
    vertical-align: top;
    width: 126px;
    line-height: 20px;
}
.ntRB16 {
    color: #1a1a1a;
    font-size: 16px;
    font-family: noto-R;
}


.as_list_wrap .asCPL_notice > .ntRB13 {
    width: 792px;
    color: #6c6c6c;
}

.asCPL_notice > span {
    display: inline-block;
    vertical-align: top;
    width: 126px;
    line-height: 20px;
}






/*footer*/
#footer {
    background: #232425;
}

#footer .container {
    max-width: 1140px; 
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#footer .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

#footer .col-lg-3 {
	position: relative;
    width: 285px;
    padding-right: 15px;
    padding-left: 15px;
    display : flex;
}

#footer .block.about img {
    margin-bottom: 25px;
    vertical-align: middle;
}

#footer .block.about p {
    line-height: 25px;
    width: 300px; 
}

#footer table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

#footer tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

#footer tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

#footer td {
    display: table-cell;
    vertical-align: inherit;
}

#footer .block h2 {
    color: #fff;
    font-size: 26px;
    margin-bottom: 25px;
}

#footer .block h4 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 25px;
}

#footer .block h6 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 25px;
}

#footer .block h5 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 25px;  
}

#footer img {
    vertical-align: middle;
    border-style: none;
}

#footer .block about {
	display: flex;  
}
