.sadari_section {
    width: 970px;
    padding-bottom: 100px;
    font-family: 'notokr R', 'Malgun Gothic', '¸¼Àº°íµñ', sans-serif;
    line-height: 1.4;
        margin: 0 auto; 
}
 
.sadari_section .wrapper {
    padding-bottom: 50px;
} 

.buy_end__info {
    margin-top: 50px;
}
.buy_end__info .info__title {

	text-align: center;
    margin-bottom: 5px;
    font-family: 'notokr B', sans-serif;
    font-size: 25px;
    color: #333;
}

.buy_end__info .info__title i {
    vertical-align: middle;
    margin-right: 5px;
    font-size: 34px;
}

.buy_end__delivery {
    margin-top: 50px;
}

.buy_end__title {
    border-bottom: 1px solid #333;
    padding-left: 5px;
    padding-bottom: 5px;
}

.buy_end__title .title__name {
    font-family: 'notokr B', sans-serif;
    font-size: 20px;
    color: #333;
}

.buy_end__list { 
    margin-top: 10px;
    padding: 0 5px;
}
    
    
.buy_end__list li {
display: flex;
}
    
.buy_end__list li .item__title {
    width: 15%;
    font-family: 'notokr M', sans-serif;
    color: #333;
}

.buy_end__list li .item__data {
    width: 85%;
}

.buy_end__list li > div {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 30px;
}

.buy_end__order {
    margin-top: 50px;
}

.buy_end__button {
    margin-top: 100px;
    font-size: 0;
    text-align: center;
}

.buy_end__button input[type='submit'] {
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
    margin-right: 5px;
    background: #888;;
    border: 1px solid #888;
    font-family: 'notokr M', sans-serif;
    font-size: 14px;
    line-height: 40px;
    color: #fff;
}

.buy_end__button a {
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
    background: #e9ecef;
    border: 1px solid #dedede;
    font-family: 'notokr M', sans-serif;
    font-size: 14px;
    line-height: 40px;
    color: #888;;
}